.topbar {
    @apply bg-blue-600 px-4 text-white flex justify-between items-center;
}

.title {
    @apply text-2xl font-bold;
}

.nav-links {
    @apply flex gap-4 text-white list-none;

    & a {
        @apply text-white no-underline;
    }

}