.input-container {
    @apply border-solid border border-gray-300 rounded-md p-2 flex w-full;
}

.input-field {
    @apply pl-2 border-none bg-transparent focus:outline-none w-full;
}

.search-icon {
    @apply text-gray-300;
}